{% extends "base.html" %} <!-- Extend the base.html template -->

{% load static %} <!-- Load static files such as CSS and JavaScript -->
{% load bag_tools %} <!-- Load custom template tags from bag_tools -->

{% block page_header %} <!-- Define a block named "page_header" -->
{% endblock %} <!-- End of the "page_header" block -->

{% block content %} <!-- Define a block named "content" -->
    <div class="overlay"></div> <!-- Overlay element -->
    <div class="container mb-2"> <!-- Container for the content -->
        <div class="row"> <!-- Row within the container -->
            <div class="col">
                <hr> <!-- Horizontal rule -->
                <h2 class="logo-font mb-4">Shopping Bag</h2> <!-- Heading for the page -->
                <hr> <!-- Horizontal rule -->
            </div>
        </div>

        <div class="row"> <!-- Row within the container -->
            <div class="col">
                {% if bag_items %} <!-- Check if the bag_items variable is not empty -->
                    <div class="table-responsive rounded"> <!-- Table container -->
                        <table class="table table-sm table-borderless"> <!-- Table element -->
                            <thead class="text-black"> <!-- Table header -->
                                <tr>
                                    <th scope="col">Product Info</th> <!-- Table column for product info -->
                                    <th scope="col"></th>
                                    <th scope="col">Price</th> <!-- Table column for price -->
                                    <th scope="col">Qty</th> <!-- Table column for quantity -->
                                    <th scope="col">Subtotal</th> <!-- Table column for subtotal -->
                                </tr>
                            </thead>

                            {% for item in bag_items %} <!-- Loop through each item in the bag_items variable -->
                                <tr>
                                    <td class="p-3 w-25">
                                        {% if item.product.image %} <!-- Check if the item has an image -->
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}"> <!-- Display the item's image -->
                                        {% else %}
                                        <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}"> <!-- Display a default image if no image is available -->
                                        {% endif %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p> <!-- Display the item's name -->
                                        <p class="my-0"><strong>Size: </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p> <!-- Display the item's size if available -->
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p> <!-- Display the item's SKU -->
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price }}</p> <!-- Display the item's price -->
                                    </td>
                                    <td class="py-3 w-25">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}"> <!-- Form to update the quantity -->
                                            {% csrf_token %} <!-- CSRF token for form submission -->
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    {% if item.product.has_sizes %} <!-- Check if the item has sizes -->
                                                        <input type="hidden" name="product_size" value="{{ item.size }}"> <!-- Include the selected size in the form data -->
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-info"><small>Update</small></a> <!-- Link to update the quantity -->
                                        <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a> <!-- Link to remove the item -->
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity }}</p> <!-- Display the item's subtotal -->
                                    </td>
                                </tr>
                            {% endfor %} <!-- End of the item loop -->
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6> <!-- Display the bag total -->
                                    <h6>Delivery: ${{ delivery|floatformat:2 }}</h6> <!-- Display the delivery cost -->
                                    <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4> <!-- Display the grand total -->
                                    {% if free_delivery_delta > 0 %} <!-- Check if free delivery is available -->
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more! <!-- Display the amount needed for free delivery -->
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg"> <!-- Button to continue shopping -->
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg"> <!-- Button to proceed to checkout -->
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p> <!-- Message when the bag is empty -->
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg"> <!-- Button to continue shopping -->
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %} <!-- End of the "content" block -->

{% block postloadjs %} <!-- Define a block named "postloadjs" -->
{{ block.super }} <!-- Include the content from the parent block -->
{% include 'products/includes/quantity_input_script.html' %} <!-- Include a script for quantity input functionality -->

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %} <!-- End of the "postloadjs" block -->
