{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-contianer">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">Unique Plant Pots</h1>
            <p class="lead">Discover our stunning selection of one-of-a-kind plant pots, crafted from 3D-printed molds for a truly unique touch.
            </p>
        <hr class="my-4">
            <p class="lead">Shop now and give your plants the stylish home they deserve.
            </p>
            <a class="btn btn-primary btn-lg" href="{% url 'products' %}" role="button">Shop Now</a>
    </div>

{% endblock %}