/* Style for the navigation bar */

.navbar {
  background-color: bisque;
}

.navbar-brand {
  font-size: 5rem;
  font-weight: bold;
  font-family: "Rubik Pixels";
}

.nav-link {
  font-size: 1.2rem;
  margin-right: 1.5rem;
}


/* Style for the jumbotron */
.jumbotron {
  background-image: url('/media/homepic.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-weight: bold;
  font-family: "Rubik Pixels";
  color: whitesmoke;
  padding-bottom: 0%;
  margin-bottom: 0%;
  
}

.display-4 {
  font-size: 4rem;
  font-weight: bold;
}

.lead {
  font-size: 2rem;
  font-weight: bold;
  color: whitesmoke; 
}

.btn-primary {
  background-color: #29a745;
  border-color: #29a745;
  min-width: 260px;
}

.btn-primary:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}
/* Style for the footer */
footer {
  background-color: lightslategray;
  color: #fafafa;
  min-height: 50px;
  margin: 0;
}

.social-networks{
  text-align: center;
  margin: 0;
}

.social-networks li{
  display: inline;
}

.social-networks i{
  font-size: 160%;
  margin: 1%;
  padding: 1% 5% 1% 5%;
  color: black;